In [48]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [49]:

Ratings = pd.read_csv('BX-Book-Ratings.csv', on_bad_lines='skip', sep=';', encoding='ISO-8859-1', header = 0, names=['user', 'isbn', 'rating'], usecols=['user', 'isbn', 'rating'], dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})
Books = pd.read_csv('BX-Books.csv', on_bad_lines='skip', sep=';', encoding='ISO-8859-1', header = 0,  names=['isbn', 'title', 'author'], usecols=['isbn', 'title', 'author'], dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})
Users = pd.read_csv('BX-Users.csv', sep=';', encoding='ISO-8859-1')

In [50]:
Ratings.head()

     user        isbn  rating
0  276725  034545104X     0.0
1  276726  0155061224     5.0
2  276727  0446520802     0.0
3  276729  052165615X     3.0
4  276729  0521795028     6.0

In [51]:
Ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   user    1149780 non-null  int32
 1   isbn    1149780 non-null  object
 2   rating  1149780 non-null  float32
dtypes: float32(1), int32(1), object(1)
memory usage: 17.5+ MB

In [52]:
Ratings['isbn'] = Ratings['isbn'].astype('string')
Ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   user    1149780 non-null  int32
 1   isbn    1149780 non-null  string
 2   rating  1149780 non-null  float32
dtypes: float32(1), int32(1), string(1)
memory usage: 17.5 MB

In [53]:
Ratings['isbn'].duplicated().value_counts()

isbn
True     809224
False    340556
Name: count, dtype: int64

In [54]:
Ratings['user'].duplicated().value_counts()

user
True     1044497
False     105283
Name: count, dtype: int64

In [55]:
Books.head()

,isbn,title,author
0,0195153448,Classical Mythology,Mark P. O. Morford
1,0002005018,Clara Callan,Richard Bruce Wright
2,0060973129,Decision in Normandy,Carlo D'Este
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,0393045218,The Mummies of Urumchi,E. J. W. Barber

In [56]:
Books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271379 entries, 0 to 271378
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   isbn    271379 non-null  object
 1   title   271379 non-null  object
 2   author  271377 non-null  object
dtypes: object(3)
memory usage: 6.2+ MB

In [57]:
Books['isbn'] = Books['isbn'].astype('string')
Books['title'] = Books['title'].astype('string')
Books['author'] = Books['author'].astype('string')
Books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271379 entries, 0 to 271378
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   isbn    271379 non-null  string
 1   title   271379 non-null  string
 2   author  271377 non-null  string
dtypes: string(3)
memory usage: 6.2 MB

In [58]:
Users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [59]:
Users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [60]:
print('Shape of Books:', Books.shape)
print('Shape of Ratings:', Ratings.shape)
print('Shape of Users:', Users.shape)

Shape of Books: (271379, 3)
Shape of Ratings: (1149780, 3)
Shape of Users: (278858, 3)

Merging dataframes

In [61]:
df = Ratings.merge(Books, on='isbn', how='left')

In [62]:
df.head()

,user,isbn,rating,title,author
0,276725,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose
1,276726,0155061224,5.0,Rites of Passage,Judith Rae
2,276727,0446520802,0.0,The Notebook,Nicholas Sparks
3,276729,052165615X,3.0,Help!: Level 1,Philip Prowse
4,276729,0521795028,6.0,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather

In [63]:
df['user'].value_counts()

user
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [64]:
df['isbn'].value_counts()

isbn
0971880107     2502
0316666343     1295
0385504209      883
0060928336      732
0312195516      723
               ...
1561443042        1
1561446815        1
1561562262        1
0451406192        1
05162443314       1
Name: count, Length: 340556, dtype: Int64

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 5 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   user    1149780 non-null  int32
 1   isbn    1149780 non-null  string
 2   rating  1149780 non-null  float32
 3   title   1031175 non-null  string
 4   author  1031173 non-null  string
dtypes: float32(1), int32(1), string(3)
memory usage: 35.1 MB

In [66]:
user_over_200 = df['user'].value_counts()
user_over_200 = user_over_200[user_over_200 > 200].index

In [67]:
isbn_over_100 = df['isbn'].value_counts()
isbn_over_100 = isbn_over_100[isbn_over_100 > 100].index

In [68]:
ready_df = df.loc[df['user'].isin(user_over_200) & df['isbn'].isin(isbn_over_100)]
ready_df.head()

,user,isbn,rating,title,author
1456,277427,002542730X,10.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
1469,277427,0060930535,0.0,The Poisonwood Bible: A Novel,Barbara Kingsolver
1471,277427,0060934417,0.0,Bel Canto: A Novel,Ann Patchett
1474,277427,0061009059,9.0,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich
1484,277427,0140067477,0.0,The Tao of Pooh,Benjamin Hoff

In [69]:
ready_df[['title', 'user']].duplicated().value_counts()

False    48853
True       401
Name: count, dtype: int64

In [70]:
ready_df = ready_df.drop_duplicates(['user', 'title'])
ready_df.head()

,user,isbn,rating,title,author
1456,277427,002542730X,10.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
1469,277427,0060930535,0.0,The Poisonwood Bible: A Novel,Barbara Kingsolver
1471,277427,0060934417,0.0,Bel Canto: A Novel,Ann Patchett
1474,277427,0061009059,9.0,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich
1484,277427,0140067477,0.0,The Tao of Pooh,Benjamin Hoff

In [71]:
ready_df_p = ready_df.pivot_table(index= 'title', columns='user', values='rating').fillna(0)
ready_df_p

user,254,2276,2766,2977,3363,4017,4385,6242,6251,6323,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Without Remorse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
from scipy.sparse import csr_matrix

In [73]:
df_knn = csr_matrix(ready_df_p.values)

Machine Learing calssification

In [74]:
from sklearn.neighbors import NearestNeighbors

In [75]:
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(df_knn)

NearestNeighbors(algorithm='brute', metric='cosine')

In [76]:
def get_recommends(book=""):
    recommended_books = [book, []]
    
    distances, indices = knn.kneighbors([ready_df_p.loc[book]], 6, return_distance=True)
    
    recommended_indices = ready_df_p.iloc[np.flip(indices[0])[:-1]].index.to_list()
    recommended_distances = list(np.flip(distances[0])[:-1])
    
    for i in zip(recommended_indices, recommended_distances):
        recommended_books[1].append(list(i))

    return recommended_books

In [77]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()

["Where the Heart Is (Oprah's Book Club (Paperback))", [["I'll Be Seeing You", 0.8016211], ['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075], ['The Lovely Bones: A Novel', 0.7230184]]]
You passed the challenge! 🎉🎉🎉🎉🎉

Function to get recommended books:

In [78]:
books = get_recommends("The Weight of Water")
print(books)

['The Weight of Water', [["Smilla's Sense of Snow", 0.71307], ['Night', 0.7105186], ['Deja Dead', 0.7087431], ["The Dive From Clausen's Pier (Alex Awards)", 0.68558145], ['Gap Creek: The Story Of A Marriage', 0.6642004]]]

In [79]:
print('Enter the book name to find recommendations: ')
x = input("")

recommended_books = get_recommends(x)

recommended_books_list = [f"{book} (distance: {dist:.2f})" for book, dist in recommended_books[1]]

print('Recommended books for ' + x + ': ' + ', '.join(recommended_books_list))

Enter the book name to find recommendations:
Recommended books for Night: The Hundred Secret Senses (distance: 0.74), Let Me Call You Sweetheart (distance: 0.74), Degree of Guilt (distance: 0.72), Before I Say Good-Bye (distance: 0.71), The Weight of Water (distance: 0.71)